
.about-director-container {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.about-director {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    flex-direction: row; 
}

.director-image img {
    width: 60%; 
    height: auto;
    margin-left: 250px;
    object-fit: cover;
    border-radius: 0 12px 12px 0;
}

.about-content {
    padding: 40px;
    max-width: 50%;
    font-family: 'Roboto', sans-serif;
}

.about-content h1 {
    font-size: 2.8em;
    font-weight: 700;
    color: #333333;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}

.about-content h2 {
    font-size: 1.8em;
    font-weight: 500;
    color: #555555;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #777777;
    margin-bottom: 20px;
    text-align: justify;
}

@media (max-width: 1200px) {
    .director-image img {
        width: 85%; 
        margin-left: 0px;
    }


    .about-content {
        max-width: 55%;
        padding: 35px;
    }

    .about-content h1 {
        font-size: 2.6em; 
    }

    .about-content h2 {
        font-size: 1.7em; 
    }

    .about-content p {
        font-size: 1.05em; 
    }
}

@media (max-width: 992px) {
    .about-director {
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .director-image img {
        width: 60%; 
        height: auto;
        margin-left: 0px;
    }
    .about-director {
        flex-direction: column-reverse; 
    }



    .about-content {
        max-width: 90%; 
        padding: 30px;
    }

    .about-content h1 {
        font-size: 2.4em; 
    }

    .about-content h2 {
        font-size: 1.6em;
    }

    .about-content p {
        font-size: 1em; 
    }
}

@media (max-width: 600px) {
    .about-content h1 {
        font-size: 2em;
    }

    .about-content h2 {
        font-size: 1.4em; 
    }

    .about-content p {
        font-size: 0.95em; 
    }

    .about-director {
        flex-direction: column-reverse;
    }

    .director-image img {
        width: 100%;
        margin-left: 0px;
    }

    .about-content {
        max-width: 100%; 
        
    }
}

@media (max-width: 400px) {
    .about-content h1 {
        font-size: 1.8em;
    }

    .about-content h2 {
        font-size: 1.3em; 
    }

    .about-content p {
        font-size: 0.9em; 
    }

    .about-content {
        padding: 15px; 
    }

    .about-director {
        flex-direction: column-reverse;
    }

    .director-image img {
        width: 100%; 
        margin-left: 0px;
    }
}
