.championship-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.championship-item {
    margin: 0 20px;
}

.logo-wrapper {
    margin-bottom: 0;
}

.championship-logo {
    width: 200px; 
    height: auto;
}

@media (min-width: 900px) {
    .championship-logo {
        width: 300px; 
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .championship-logo {
        width: 200px; 
    }
}

/* Phone View */
@media (max-width: 599px) {
    .championship-container {
        flex-direction: row; 
        justify-content: center; 
    }

    .championship-item {
        flex: 1 0 45%; 
        display: flex; 
        justify-content: center; 
        margin: 10px 0; 
    }

    .championship-logo {
        width: 120px; 
        height: auto; 
    }

    .championship-item:nth-child(1) .championship-logo {
        width: 150px; 
    }
    
    .championship-item:nth-child(2) .championship-logo {
        width: 130px; 
    }

    .championship-item:nth-child(3) {
        flex: 1 0 100%; 
        display: flex; 
        justify-content: center; 
    }

    .championship-item:nth-child(3) .championship-logo {
        width: 150px; 
    }
}
