/* Container Styling */
.prize-card-container {
  padding: 20px;
  margin: auto;
  text-align: center;

}

.priceContainer{
  width: 100%;
  background-color: rgb(245, 246, 245);

}

/* Title Styling */
.prize-title {
  font-size: 2.3rem;
  color: #34495e;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 25px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Grid Container for Cards */
.prize-card-grid {
  display: grid;
  gap: 20px;
  padding: 0 10px;
}

/* Individual Card Styling */
.prize-card {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.02);
}



/* Medal Image Styling */
.prize-medal {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  object-fit: contain;
}

/* Rank and Prize Amount Styling */
.prize-rank {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  background: linear-gradient(45deg, #3498db, #9b59b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prize-amount {
  font-size: 1.4rem;
  font-weight: 500;
  color: #2c3e50;
  opacity: 0.9;
}

/* Responsive Design */

/* For laptop (4 cards in the first row) */
@media (min-width: 1024px) {
  .prize-card-grid {
      grid-template-columns: repeat(4, 1fr);
  }
  .prize-card:nth-child(5) {
      grid-column: span 1;
  }
  .prize-card:nth-child(6) {
      grid-column:span 1;
  }
  .prize-card:nth-child(7) {
      grid-column: span 1;
  }
}

/* For mobile (3 cards in the first row) */
@media (max-width: 767px) {
  .prize-card-grid {
      grid-template-columns: repeat(3, 1fr);
  }
  .prize-card:nth-child(7) {
      grid-column: span 3;
  }
  .prize-card {
      padding: 15px;
  }
  .prize-medal {
      width: 60px;
      height: 60px;
  }
  .prize-rank {
      font-size: 1.6rem;
  }
  .prize-amount {
      font-size: 1.2rem;
  }
}
